fastapi==0.104.1
uvicorn==0.24.0

sqlalchemy==2.0.23
psycopg2-binary==2.9.9

python-dotenv==1.0.0

pydantic==2.5.0
pydantic-settings==2.1.0

redis==5.0.1
requests==2.31.0
passlib==1.7.4
PyJWT==2.8.0

langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.38
langsmith==0.1.147
langchain-groq==0.1.5

pytest==7.4.3